In [1]:
import pandas as pd

In [2]:
random_seed = 42

In [5]:
train_positive = pd.read_csv("Positive Samples/No Data Augmentation/my_train_positive.csv")
train_negative = pd.read_csv("Negative Samples/No Data Augmentation/my_train_negative.csv")
test_positive = pd.read_csv("Positive Samples/No Data Augmentation/my_test_positive.csv")
test_negative = pd.read_csv("Negative Samples/No Data Augmentation/my_test_negative.csv")
valid_positive = pd.read_csv("Positive Samples/No Data Augmentation/my_valid_positive.csv")
valid_negative = pd.read_csv("Negative Samples/No Data Augmentation/my_valid_negative.csv")

In [6]:
train = pd.concat([train_positive,train_negative], ignore_index=True)
train_shuffled = train.sample(frac=1, random_state=random_seed).reset_index(drop=True)
train_shuffled.head(10)

                                            sequence  label
0  MNRFFTLLFFVLFFNAAINFVSSHRIVGYYQGIRPLTNDQAKKLTH...      1
1  MDEIAAALKDSGVRFLWVTRDETCRLKDICGKMGLVVTWCDQLRVL...      0
2  MLRLKSILILLTFLVNYEGNHSPIRGRSGVSFVSLVAKSDSQNKAQ...      0
3  MRSLAVVVAVVATVAMAIGTARGSVSSIVSRAQFDRMLLHRNDGAC...      1
4  EINFTQSEPFTLSKKTIIVYPKQNALLKRNAEFLAEYIQKSTSYKL...      0
5  MIATLAFFIIYGGLLLTLCWHDLRYGLLPDKFTCPLLWGGLLYYLC...      0
6  MKKMKLISSVTCTLMGMGTISIATATTIKSASSANSWNANTVYNSG...      1
7  MREVLTIEAVQAGIQLGNAIWEQYCAEQGIDNAVKRKEIAGKDYFF...      0
8  MVKFLLIVVIVIGTVPLYSLTAFGALATPTLNVSASSGMCNLSWNG...      1
9  MIRRLLSQLAALGAIAAVLVTLPVAAAQAATACATAWSSSSVYTGG...      1

In [11]:
test = pd.concat([test_positive,test_negative], ignore_index=True)
test_shuffled = test.sample(frac=1, random_state=random_seed).reset_index(drop=True)
test_shuffled.head(10)

                                            sequence  label
0  SVAYFVNWAIYGRNYNPQDMPADKLTHVLYAFANVRPDTGEVYLSD...      1
1  MYRRVMSLLVALGAIVAALIVLPATTAQAATCATAWSSSSVYTNGG...      1
2  MYSLWCFNNITLVFDNEAIYNICQRNLHIAKPDVNNINRLIAKVIS...      0
3  MLSPKLSLLALLVGGLCTTSAFAAAPGKPTIGSGPTKFAIVEVNQA...      1
4  ETEWLGNTPTGGEMRFHLFNLTPEAISGFSLCYTTQSRISGAAEIS...      0
5  MNQAVRFRPVITFALAFILIITWFAPRADAAAQWQAGTAYKQGDLV...      1
6  MSRKSQSRNLRRLGMGALALAMGLASVGSLATEAAPYFFTWGYGES...      1
7  MESLKKASLVLFPILVLSLFNHSNAAGIAVYWGQNGGEGSLADTCN...      1
8  MILNKQNKTNGERSITRDITGHYTEGAELIDNVLDVVRKNVESCDC...      0
9  MDNLVIFFALFAFVLGICVGSFSNVLIYRLPRNESINFPASHCPNC...      0

In [7]:
valid = pd.concat([valid_positive,valid_negative], ignore_index=True)
valid_shuffled = valid.sample(frac=1, random_state=random_seed).reset_index(drop=True)
valid_shuffled.head(10)

                                            sequence  label
0  MRSLLAVSCALALSGVKGAVTAAPRPNEFDWDSIRYMYAFGDSYTF...      0
1  MHSFRMIFLEALLIAGVLSGLFSSSAVAQNCQCDTTIYCCSQHGYC...      1
2  MNFKDLLNTLRTSDSFWISLTRDILSVLLLVGIFLLLSQIIFGMWT...      0
3  IVAYFPEWGDQEAKGFLTADKIPWDKITHINYAFAKINSSNKIDFI...      1
4  MSIKHYDVVRAASPSDLAEKLTHKLKEGWQPFGSPVAITPYTLMQA...      0
5  MRKTITVIAVLIVLVLIGVGVVQYVNTSKDEDFIGMPGEPTGTQAP...      0
6  MRRVPDLPCRLYGLYWAAVDERRAPAHEARGLHRACVPPKWIPFPS...      0
7  MPSVLSSFFGMLTLAYSTQCRSLPPRLAGNSSSVEAHARNPPSTNG...      1
8  VGYFAEWGVYGRNYHVNNIRTSGSASKLTHILYAFGNTTGGRCSIG...      1
9  MKLNKITSYIGFALLSGGALAAPSTPTLDWQPQQYSFVEVNVDGLG...      1

# **Analysing Redundant Data**

## Cheking repeated sequences in each dataset

In [8]:
def check_doubles(set_a):
    idx = []
    for i, sequence in enumerate(set_a):
        no_sequence_i = set_a[:i] + set_a[i+1:]
        if sequence in no_sequence_i:
            idx.append((i,no_sequence_i.index(sequence)))
    return idx

In [9]:
print(len(check_doubles(train["sequence"])))

0

In [12]:
print(len(check_doubles(test["sequence"])))

0

In [13]:
print(len(check_doubles(valid["sequence"])))

0

## Cheking leaked sequences between datasets

In [14]:
def check_leak(set_a, set_b):
    idx = []
    for i, sequence in enumerate(set_a):
        if sequence in set_b:
            idx.append(i, set_b.index(sequence))
    return idx

In [15]:
print(len(check_leak(train["sequence"],test["sequence"])))

0

In [16]:
print(len(check_leak(train["sequence"],valid["sequence"])))

0

In [17]:
print(len(check_leak(test["sequence"],valid["sequence"])))

0

# **Exporting Dataframes**

In [18]:
train_shuffled.to_csv("Binary Datasets/No Data Augmentation/train.csv", index=False)
test_shuffled.to_csv("Binary Datasets/No Data Augmentation/test.csv", index=False)
valid_shuffled.to_csv("Binary Datasets/No Data Augmentation/valid.csv", index=False)

In [19]:
print("Datasets sizes")
print("Train: ", len(train_shuffled))
print("Test: ", len(test_shuffled))
print("Validation: ", len(valid_shuffled))
print("TOTAL: ", len(train_shuffled) + len(test_shuffled) + len(valid_shuffled) )

Datasets sizes
Train:  639
Test:  181
Validation:  98
TOTAL:  918