In [1]:
import pandas as pd

In [2]:
random_seed = 42

In [4]:
train_positive = pd.read_csv("Positive Samples/Data Augmentation/my_train_positive_augmented.csv")
train_negative = pd.read_csv("Negative Samples/my_train_negative.csv")
test_positive = pd.read_csv("Positive Samples/Data Augmentation/my_test_positive_augmented.csv")
test_negative = pd.read_csv("Negative Samples/my_test_negative.csv")
valid_positive = pd.read_csv("Positive Samples/Data Augmentation/my_valid_positive_augmented.csv")
valid_negative = pd.read_csv("Negative Samples/my_valid_negative.csv")

In [5]:
train = pd.concat([train_positive,train_negative], ignore_index=True)
train_shuffled = train.sample(frac=1, random_state=random_seed).reset_index(drop=True)
train_shuffled.head(10)

                                            sequence  label
0  MNWSRLAAAARVLGGVVLLVVVALVVVLAAPQALGADASYTVLSGS...      0
1  MGEAEKWIQDVFVFAAILFAVFFAAKYVLHVSWPFAVVSSWSMMPD...      0
2  MKRHALYFALALAGAAFTLQAAPLPAMPDPGLPVSHFITQVNADKS...      0
3  MKKNIKKILLGLAVLFLILVGYFFIGSAPRAEKIAWGVNFSQRHAE...      0
4  MISPDTGRAVAPRDVLAQAHTAGRVQDLGTSVRYTWPGVSFEGRFR...      0
5  MVRFTGISSKQHQAIELLQKHISLPDVEVAVAQSDQASISIKGEGG...      0
6  KMGNKINDYKSNPYDLYNQASALGGLGKRSTSILSDSGKKDASAEW...      1
7  MREIVHIQAGQCGNQIGSKFWEVISDEHGIDPTGTYKGDSDLQLER...      0
8  MATSLQISCLVPVLSLLLLAHVSTSYGGSIAIYWGQSGAEGTLREA...      1
9  MKIKILIPVFNDWQSLSKLLNNIDNEVQNINHEISIFIVDDASTFD...      0

In [6]:
test = pd.concat([test_positive,test_negative], ignore_index=True)
test_shuffled = test.sample(frac=1, random_state=random_seed).reset_index(drop=True)
test_shuffled.head(10)

                                            sequence  label
0  MRGLVVAALLVAAFAVSAHAEQCGSQAGGATCPNCLCCSRFGFCGS...      1
1  MIRRLLSQLAALGAIAAVLVTLPVAAAQAATACATAWSSSSVYTGG...      1
2  LESHHSFLKEHGLGDHMANLIDGNDADIEWAFLGGLNEDVVYKGKA...      1
3  MLRFEVYRDGAPAEHVDLSGAYVFGQDAIPVRADLAAAKGQIRCLK...      0
4  NAVLISQAQQEYQFNDLSNDACWIFIGALNGSQQLQQAASIATSPT...      1
5  VSSKISSSYGSQDDYYKSWLMVGGYKPSRKIVPLIQSTLVNAPIFG...      1
6  ASMGKKINDYKSDPYSLWNQSSEIGGLAQFSTNILSGDDKRDASAE...      1
7  MSSIKQIFAILVAIACMSCTMIAAQNCGCASGLCCSKYGYCGTTKA...      1
8  MKNINNGFFPCMLFLLMCLVYSGIAIDPFSRSHSLKTECIMKPPRS...      0
9  NLGSRINDYQSNPYSLLNQTSDLSGLARHSTGILSDSGTKDASAEW...      1

In [7]:
valid = pd.concat([valid_positive,valid_negative], ignore_index=True)
valid_shuffled = valid.sample(frac=1, random_state=random_seed).reset_index(drop=True)
valid_shuffled.head(10)

                                            sequence  label
0  AWNCCDCSTDFVLGAQCNQQYTVGNVCHWFANRNNAVPYLGNARVA...      1
1  MKKVLSVLIAVIMILQLVPALADTSIKIVINGENKQFDVMPVIVEG...      0
2  CGQNDGPAVGFKSCYSNYLSVRSNVADPSGGNCEISNIARITAGFG...      1
3  MLLSCCSLATVFISENGNDLSYKNLFILAGQSNMAGRGYFGDDNST...      0
4  MKWKRFSSIVAAGLLFVASSARTEELTEDFHEPKNIVFAGLLGESS...      0
5  MNTWLEKDSFAPLLNMVSIPNGMEPSEDRNDIVRALEAIHRVMPGK...      0
6  WFDRRFFMRKVRSIVSGLISKIGSLFGDNAYAQSADWMMVGGFSPF...      1
7  IVGYFPSWGVYGRNYQVADIDASKLTHLNYAFADICWNGKHGNPST...      1
8  RRGPKNNELWTYELPALHGGDTDAVKVLVPDSVSCGDENCLKVRMN...      1
9  MRKFNKPLLALLIGSTLCSAAQAAAPGKPSIASGPTKFAIVEVDQQ...      1

# **Analysing Redundant Data**

## Cheking repeated sequences in each dataset

In [19]:
def check_doubles(set_a):
    idx = []
    for i, sequence in enumerate(set_a):
        no_sequence_i = set_a[:i] + set_a[i+1:]
        if sequence in no_sequence_i:
            idx.append((i,no_sequence_i.index(sequence)))
    return idx

In [20]:
print(len(check_doubles(train["sequence"])))

0

In [21]:
print(len(check_doubles(test["sequence"])))

0

In [22]:
print(len(check_doubles(valid["sequence"])))

0

## Cheking leaked sequences between datasets

In [23]:
def check_leak(set_a, set_b):
    idx = []
    for i, sequence in enumerate(set_a):
        if sequence in set_b:
            idx.append(i, set_b.index(sequence))
    return idx

In [25]:
print(len(check_leak(train["sequence"],test["sequence"])))

0

In [26]:
print(len(check_leak(train["sequence"],valid["sequence"])))

0

In [27]:
print(len(check_leak(test["sequence"],valid["sequence"])))

0

# **Exporting Dataframes**

In [28]:
train_shuffled.to_csv("Binary Datasets/Data Augmentation/train.csv", index=False)
test_shuffled.to_csv("Binary Datasets/Data Augmentation/test.csv", index=False)
valid_shuffled.to_csv("Binary Datasets/Data Augmentation/valid.csv", index=False)

In [29]:
print("Datasets sizes")
print("Train: ", len(train_shuffled))
print("Test: ", len(test_shuffled))
print("Validation: ", len(valid_shuffled))
print("TOTAL: ", len(train_shuffled) + len(test_shuffled) + len(valid_shuffled) )

Datasets sizes
Train:  1281
Test:  363
Validation:  192
TOTAL:  1836